body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  background-image: url('./sust-saheed-minar.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
