body {
  background-color: #2798F5; /* light blue, change to any color you like */
  margin: 0;
  font-family: Arial, sans-serif;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
